# Server configurations
PORT=3000

# SMTP Server configurations (credentials must be kept private)
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=postmaster@sandbox.mailgun.org
SMTP_PASS=your_smtp_password_here

# Email recipients and senders
CONTACT_RECEIVER=info@allied-iconic.com
SMTP_SENDER=enquiries@allied-iconic.com
